[submodule "moodle/mod/survey"]
	path = moodle/mod/survey
	url = https://github.com/moodlehq/moodle-mod_survey.git
	branch = main
[submodule "moodle/mod/chat"]
	path = moodle/mod/chat
	url = https://github.com/moodlehq/moodle-mod_chat.git
	branch = main
